html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}

#upload-screen {
    position: fixed;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
    flex-direction: column;
}

#volume-panel {
    position: relative;
    display: inline-block;
}

#volume-popup {
    position: absolute;
    bottom: 110%;
    left: 0;
    width: 160px;
    padding: 12px;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

#volume-btn {
    display: flex;
    gap: 4px;
    height: 44px;
    padding: 0 12px;
    border: none;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: sans-serif;
    align-items: center;
}

#volume-popup[hidden] {
    display: none;
}

#video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#player {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background: linear-gr
}

#play-btn {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #000000;
    opacity: 50%;
}

#seek-canvas {
    position: absolute;
    left: 0;
    bottom: 64px;
    width: 100%;
    height: 200px;
}

.material-symbols-outlined {
    color: #ffffff;
}

#play-btn #pause, #play-btn.playing #play {
    display: none;
}

#play-btn.playing #pause {
    display: inline-block;
}

